##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*


##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar


##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws


##############################
## JetBrains Academy
##############################
Topics/
.yaml
"Music Advisor/Strings and fiddlesticks/task-info.yaml"
task-info.yaml
course-remote-info.yaml